/* ================================================
   COMPONENTS
   ================================================ */

@import 'variables.css';

/* ================================================
   Dark Mode Switch
   ================================================ */

.dark-mode-toggle {
    width: var(--dark-mode-width);
    height: var(--dark-mode-height);
    border: 1px solid var(--gray);
    display: flex;
    align-items: center;
    border-radius: 999px;
    background-color: var(--cold-gray);
    justify-content: space-between;
    cursor: pointer;
}

.dark-mode-toggle .circle {
    width: 40%;
    height: 80%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transform: translateX(10%);
    position: relative;
    background-color: var(--bg-main);
    overflow: hidden;

    transition: all .5s ease-out;
}

.dark-mode-toggle .circle ion-icon {
    width: 70%;
    height: 70%;
    position: absolute;

    transition: transform .5s ease-out;
}

.dark-mode-toggle .circle .sun {
    transform: translateY(0);
    color: var(--yellow-sun);
}

.dark-mode-toggle .circle .moon {
    transform: translateY(-120%);
}