
/* ================================================
   Structure and Design
   ================================================ */

@import 'variables.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all .3s ease-out;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
}

body {
    margin: 0;
    width: 100%;
    min-height: 100vh;
    background-color: var(--bg-main);
    color: var(--gray);
    font-family: "Roboto", sans-serif;
    transition: background-color .5s ease-out;
    
    overflow-x: hidden;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

/* ================================================
   Utilities
   ================================================ */

.flex {
    display: flex;
    gap: var(--gap, 0);
}

.grid {
    display: grid;
    gap: var(--gap, 2rem);
}

.d-block {
    display: block;
}

/* ================================================
   HEADER
   ================================================ */

.header {
    align-items: center;
    justify-content: space-between;
    padding: 0;
    position: sticky;
    top: 0;
    padding: 2rem 0;
    transition: padding 0.3s ease;
}

.header.scrolled {
  padding: 0.8rem 0;
}

.header.scrolled .logo img {
  width: 50px;
}

/* ================================================
   PRIMARY HEADER
   ================================================ */

.navbar .logo img {
    width: 75px;
    margin: 2rem;
}
 
/* ================================================
   NAVBAR
   ================================================ */

.navbar {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.primary-navigation {
    padding: 0;
    margin: 0;
    align-items: center;
}

@supports (backdrop-filter: blur(1rem)) {
    .primary-navigation {
        backdrop-filter: blur(0.25rem) saturate(120%);
    }
}

.primary-navigation a {
    text-decoration: none;
}

.primary-navigation a > [aria-hidden="true"] {
    font-weight: 700;
    margin-inline-end: .75em;
}

/* ================================================
   SYSTEM RAIL
   ================================================ */


