/* ================================================
   PALETA DE COLORES PARA MODO CLARO Y OSCURO
   ================================================ */

:root {
    --primary-soft: #93c5fd;
    --primary-dark: #1e40af;

    --blue: #2563eb;
    --deep-blue: #0F172A;
    --deep-purple: #3B1E54;
    --warm-gray: #F5F7FA;
    --cold-gray: #D1D5DB;
    --gray: #2B2E34;
    --accent: #2EC4B6;

    /* Light Mode Colors */
    --bg-main: #f8fafc;        /* slate-50 */
    --bg-card: #ffffff;
    --bg-muted: #f1f5f9;      /* slate-100 */

    /* Dark Mode Colors */
    --bg-main-dark: #0B1C2D;       /* blue-black */
    --bg-card-dark: #020617;
    --bg-muted-dark: #020617;    /* USED */

}

/* ================================================
   GENERAL RESET
   ================================================ */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: var(--bg-main);
    color: var(--gray);
    font-family: "Roboto", sans-serif;
}

body.dark {
    background-color: var(--bg-muted-dark);
    color: var();
}

body.dark 

/* ================================================
   TIPOGRAFÍA Y ELEMENTOS BÁSICOS
   ================================================ */

h1, h2, h3, h4, h5, h6 {
    font-weight: 100;
}



/* ================================================
   BACKGROUND CON CANVAS FIJO
   ================================================ */

#canvas1 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw !important;
    height: 100vh !important;
    z-index: -1;  /* detrás de todo */
    pointer-events: none;  /* no bloquea clics */
}

/* ================================================
   HEADER
   ================================================ */

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75px;
    padding: 0 1.5em;
    background-color: var(--primary-color);
}

.switches {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.toggle-theme {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.toggle-theme__icon {
    margin-right: 0.5em;
    width: 20px;
}

.toggle-theme__text {
    font-size: 0.8rem;
}