
/* ================================================
   Light and Dark Theme Styles
   ================================================ */
   
@import 'variables.css';

body.dark {
    background-color: var(--bg-muted-dark);
    color: var(--warm-gray);
    transition: all .5s ease-out;
}

/* ================================================
   BACKGROUND 
   ================================================ */

#canvas1 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw !important;
    height: 100vh !important;
    z-index: -1;  /* detrás de todo */
    pointer-events: none;  /* no bloquea clics */
}



/* ================================================
   Dark Mode Toggle Adjustments
   ================================================ */

body.dark .circle .moon {
   transform: translateY(-120%);
   color: var(--warm-gray);
}

body.dark .circle .sun {
   transform: translateY(0);
}

/* ================================================
   NAVBAR
   ================================================ */

body.dark .mobile-nav-toggle ion-icon {
   color: var(--warm-gray);
}

body.dark .navbar button {
   filter: invert(100%);
}

@supports (backdrop-filter: blur(1rem)) {
   body.dark  .primary-navigation {
      background: hsl(0 0% 100% / 0.1);
      backdrop-filter: blur(0.3rem) saturate(120%);
      box-shadow: 1px 1px 5px hsl(0 0% 0% / 0.1);
   }
}

/* ================================================
   System Rail Adjustments
   ================================================ */
body.dark .rail-item {
   color: var(--warm-gray);
}

body.dark .rail-item:hover {
    transform: translateX(-4px);
    background: hsl(220 10% 60% / 0.5);
}