
/* ================================================
   Light and Dark Theme Styles
   ================================================ */
   
@import 'variables.css';

body.dark {
    background-color: var(--bg-muted-dark);
    color: var(--warm-gray);
    transition: all .5s ease-out;
}

/* ================================================
   BACKGROUND 
   ================================================ */

#canvas1 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw !important;
    height: 100vh !important;
    z-index: -1;  /* detrás de todo */
    pointer-events: none;  /* no bloquea clics */
}



/* ================================================
   Dark Mode Toggle Adjustments
   ================================================ */

body.dark .circle {
   transform: translateX(140%);
   background-color: var(--bg-main-dark);
}

body.dark .circle .moon {
   transform: translatex(0);
   color: var(--warm-gray);
}

body.dark .circle .sun {
   transform: translateY(120%);
}

/* ================================================
   NAVBAR
   ================================================ */

body.dark .mobile-nav-toggle ion-icon {
   color: var(--warm-gray);
}

body.dark .navbar button {
   filter: invert(100%);
}